{% extends "base.html" %}

{% block sidebar %}
  {% for nt in note_list %}
    <li>
      <a href="{{ nt.get_absolute_url }}">{{ nt.first_cat }} > {{ nt.second_cat }}</a>
      <a href="{% url 'note-update' pk=nt.pk %}"> Modify</a>
      <a href="{% url 'note-delete' pk=nt.pk %}"> Delete</a></li>
  {% endfor %}              
{% endblock %}


{% block mainbar %}
  <p>My note has the following record counts:</p>
  <ul>
    <li><strong>Category:</strong> {{ note.first_cat }} > {{ note.second_cat }}</li>
    <li><strong>Memo:</strong> {{ note.memo }}</li>
    <li><strong>Created:</strong> {{ note.created }}</li>
  </ul>
{% endblock %}

